---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";

import { profile } from "../data/profile";
---

<Layout title="Nicholas Trampe">
  <main class="container mx-auto px-4 py-8">
    <Profile profile={profile} />
  </main>
</Layout>
