---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Timeline from "../components/Timeline.astro";

import { profile } from "../data/profile";
import { experiences } from "../data/experience";
---

<Layout title="Nicholas Trampe">
  <main class="px-4 py-8 space-y-8">
    <section class="max-w-xl mx-auto">
      <Profile profile={profile} />
    </section>

    <hr class="border-slate-200" />

    <section class="max-w-3xl mx-auto">
      <Timeline experiences={experiences} />
    </section>
  </main>
</Layout>
