---
// src/components/Projects.astro
import type { Project } from "../data/projects";
import ProjectItem from "./ProjectItem.astro";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  {projects.map((project) => <ProjectItem project={project} />)}
</div>
